{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <div class = "alert alert-primary">
            <p>ДОБРО ПОЖАЛОВАТЬ, дорогие посетители сайта.
                Мы работаем совсем недавно, и наша организация ещё только в начале своего пути.
                Но вы можете положиться на нас, если вам потребуется праздничное настроение.
                Или если вы хотите создать особую волшебную атмосферу при помощи освещения.
                У нас вы найдёте различные фейерверки, бенгальские огни, яркие гирлянды любых цветов.
                Также у нас есть необычайно красивые ночники и неоновые палочки разных расцветок.</p>
        </div>
    </div>
{% endblock %}
